<a href="https://colab.research.google.com/github/matteoalberti/Lectures_introUML_Experis2020/blob/main/Dimensionality_Reduction/Day2_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

   Email: m.alberti@deeplearningitalia.com

   Linkedin:
   [linkedin_matteo_alberti](www.linkedin.com/in/matteo-alberti-695570110)

# Laboratory Session

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
import seaborn as sns
import tensorflow as tf

**Load from here**

https://archive.ics.uci.edu/ml/datasets.php?format=&task=clu&att=&area=life&numAtt=&numIns=&type=&sort=nameUp&view=list

In [ ]:
# Example
example = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00484/tripadvisor_review.csv")
example.head()

  User ID  Category 1  Category 2  ...  Category 8  Category 9  Category 10
0  User 1        0.93         1.8  ...        2.79        1.82         2.42
1  User 2        1.02         2.2  ...        2.63        1.86         2.32
2  User 3        1.22         0.8  ...        2.80        1.31         2.50
3  User 4        0.45         1.8  ...        2.96        1.57         2.86
4  User 5        0.51         1.2  ...        2.78        1.18         2.54

[5 rows x 11 columns]

### Choose a Dataset for Regression or Classification with lots of features

### Apply Dimensionality Reduction Tool

      Evaluate :
      - Linear vs Not linear Reduction tools

      tips : remeber preprocessing : correlation matrix, scaling when needed

### Custerize your variables with K-Means on Sub-Space generated from previous point

      Evaluate :
      - Performances
      - Metrics
          - Frequentist (as yesterday) + AIC
          - Bayesian (BIC)

### Make Classification or Regession (depends on your initial datasets) on Sub-Space generated from previous point


      Evaluate :
      
      - Performances (MSE, RMSE, R^2)
      - Run Classification/Regression from Initial Datasets and evaluate differences in terms of performances